body {
    margin: 0;
    padding: 0;
    font-family: 'BlueOceanRegular', sans-serif;
    background-color: #F0FDFD;
}

.navbar > a, .navbar > p > a {
    text-decoration: none;
    color: black;
}

.navbar > a {
    transition: background-color 0.6s ease;
}

.navbar > a:hover {
    background-color: cyan;
}

.navbar > p > a > i {
    transition: color 0.3s ease;
}

.navbar > p > a:hover > i {
    color: cyan;
}

.imageHome {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 120vh;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    font-weight: bold;
    color: black;
    width: 100%;
    flex-wrap: wrap;
}

.navBorder {
    border: 4px solid black;
    padding: 10px;
    border-radius: 30px;
}

.creepster-regular {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
}

#titleLeRecif {
    font-size: 12rem;
    color: white;
    position: absolute;
    top: 35%;
    left: 32%;
}

.fa-envelope {
    color: black;
}

.fa-envelope:hover {
    color: cyan;
    transition: color 0.3s ease;
}

.dropdown-toggle:hover i {
    transition: color 0.3s ease;
    color: cyan;
}

.dropdown-toggle::after {
    display: none;
}

.txtDecoration {
    text-decoration: none;
    list-style-type: none;
    padding-left: 0px!important;
    padding-top: 30px!important;
}

.smallImage {
    max-width: 5%;
    height: auto;
    margin-right: 10px!important;
    vertical-align: middle;
}

.confidentialite {
    text-align: right;
}

#contact {
    margin: 200px 0px 200px 0px;
}

.text-right {
    text-align: right!important;
}

/* General Media Queries */
@media (max-width: 1000px) {
    .confidentialite {
        text-align: left!important;
        padding-top: 30px;
    }

    .text-right {
        text-align: left!important;
    }

    #tutorialSection {
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #shopSection {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    .childShopSection {
        width: 80%;
        height: auto;
    }

    .divBoxContent {
        font-size: 28px;
    }

    #contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .divContactSection, .h2Contact {
        margin: 100px 0px 100px 0px;
    }

    .tutorielDiv, .divList {
        display: flex;
        justify-content: center;
    }

    .liSuspension, .liLampe, .applyToWall {
        transform: translateX(0px);
    }
}

@media (max-width: 1062px) and (min-width: 770px) {
    .navElements {
        font-size: 20px;
    }
}

@media (max-width: 769px) {
    .navElements {
        font-size: 12px;
    }

    p.navBorder.navElements {
        width: auto;
        height: 20px;
    }
}

/* iPad Mini */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .marginSectiontutorial {
        margin-top: 400px!important;
    }
    .tutorielDiv{
        margin-top: 200px;
    }
}

/* Samsung Galaxy Fold */
@media only screen and (device-width: 280px) and (device-height: 653px) and (-webkit-min-device-pixel-ratio: 3) {
    #shopSection {
        height: 100vh;
    }

    #tutorialSection {
        height: 80vh;
    }
}

/* Surface Duo */
@media only screen and (device-width: 540px) and (device-height: 720px) and (-webkit-min-device-pixel-ratio: 2.5) {

    .marginSectiontutorial{
        margin-top: 400px;
    }

    .tutorielDiv{
        margin-top: 100px;
    }
}

/* iPhone SE */
@media only screen and (min-device-width: 375px) and (max-device-width: 414px) and (min-device-pixel-ratio: 2) {
    #tutorialSection {
        height: 50vh;
    }
}

/* Other Small Devices */
@media only screen and (max-width: 361px) {
    #aPropos {
        font-size: 30px !important;
    }

    .txtSecondDiv {
        font-size: 10px;
        max-width: 80%;
        transform: translateX(16%);
        line-height: 23px;
    }

    .truncatedText {
        display: -webkit-box;
        -webkit-line-clamp: 1 !important;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .moreText {
        display: block !important;
        cursor: pointer;
    }

    .h2Panier, .h2Contact, .h2Tutoriel, .h2Medusa {
        font-size: 60px !important;
        margin-top: 50px;
        margin-bottom: 50px !important;
    }

    .divVideo {
        display: flex;
        justify-content: center;
    }

    video {
        max-width: 60%;
    }

    .divList {
        display: flex;
        justify-content: start;
    }

    .ulTutorial {
        font-style: italic;
        padding-right: 0 !important;
        margin: 0 !important;
        font-size: 20px;
    }

    .liSuspension, .liLampe, .applyToWall {
        transform: translateX(0) !important;
    }

    .pelagia, .pelagiaAuthor {
        font-size: 23px !important;
    }
}

@media screen and (max-width: 896px) {
    .txtSecondDiv {
        max-width: 100%;
        font-size: 20px!important;
    }
}

@media screen and (max-width: 1281px){
    #aPropos, .txtSecondDiv{
        transform: translateY(30%)!important;
    }
}
