<section id="aboutUs" class="marginSectionAboutUs" data-current-page="aboutUs">

    {% include 'nav.html.twig' %}

    <section id="sectionTwo" style="position: relative">

        <div id="conteneur">
            <div class="divTextSecondTwo" style="">
                <p id="aPropos" style="font-size: 96px; margin-bottom: 5px !important; " class="creepster-regular aPropos animated-element">A propos</p>
                <p class="txtSecondDiv truncatedText" style="padding: 0px 50px 50px 50px; font-size:28px; font-style: italic; ">Le Récif est une collection de lampes inspirée par
                    les fonds marins, dessinée et fabriquée par Julien
                    Blatteau, architecte & designer à Marseille.
                    Les lampes sont réalisées à la découpe laser dans
                    les ateliers de MakeIt Marseille, et colorées grâce
                    aux peintures Vacquier, entreprise historique du
                    Vieux-Port depuis 1835.</p>
                <p class="moreText" style=" font-size: 11px">Lire la suite</p>
            </div>
            <div class="enfant enfant-1"><img style="max-width: 100%" src="{{ asset('/pictures/LeRecifPistilMedusa.jpg') }}" alt=""></div>
            <div class="enfant enfant-2"><img style="max-width: 100%" src="{{ asset('/pictures/LeRecif1.jpg') }}" alt=""></div>
            <div class="enfant enfant-3"><img style="max-width: 100%" src="{{ asset('/pictures/DpNoaillesPers.jpg') }}" alt=""></div>
        </div>
    </section>


</section>
