<section id="contact" class="sectionFive " data-current-page="contact">

    {% include 'nav.html.twig' %}
    <div class="contactDivH2">
        <p class="creepster-regular h2Contact animated-element">Contact</p>
    </div>
    <div class="divContactSection">
        <div class="divPictureContact">
            <div class="coordinate">
                <p>mail: contact@lerecif.fr</p>
                <p>insta : @lerecif</p>
            </div>
            <img class="pelagia" src="{{ asset('/pictures/pelagia.jpg') }}" alt="">
        </div>
    </div>




</section>
