<section id="leRecif" class="imageHome" style="background-image: url('{{ asset('pictures/LeRecif1.jpg') }}');" data-current-page="home">

    {% include 'nav.html.twig' %}

    <p id="titleLeRecif" class="creepster-regular">Le Récif</p>
</section>
