<nav class="navbar" style="">
    <a href="#aboutUs" class="navBorder navElements smooth-scroll">À propos</a>
    <a href="#tutoriel" class="navBorder navElements smooth-scroll">Tutoriel</a>
    <a href="#shopSectionId" class="navBorder navElements smooth-scroll">Boutique</a>
    <a href="#leRecif" class="navBorder navElements smooth-scroll circle-hover">Le Récif</a>
    <div  class="elementsEndNav" style="display: flex; gap: 30px;">
        <a href="#contact" class=" smooth-scroll"><i style="font-size: 50px" class="fa-regular fa-envelope"></i></a>

    </div>
</nav>
