



<section id="shopSectionId" data-current-page="shopSectionId">

     {% include 'nav.html.twig' %}
    <section id="shopSection" style="">
        <div id="divHiddenMediaQueries" class="childShopSection"></div>
        <div class="childShopSection productPresentation" style="">
            <p class="creepster-regular h2Medusa animated-element">Medusa</p>


            <div class="">
                <div id="diaporama" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href=""><img src="{{ asset('/pictures/carousel/pistil.jpg') }}" alt="" class="d-block"></a>
                        </div>
                        <div class="carousel-item">
                            <a href=""><img src="{{ asset('/pictures/carousel/LeRecifMedusa.jpg') }}" alt="" class="d-block"></a>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#diaporama" data-bs-slide="prev">
                <span class=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16"><circle cx="8" cy="8" r="8"/>
                </svg></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#diaporama" data-bs-slide="next">
                <span class=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                <circle cx="8" cy="8" r="8"/>
                </svg></span>
                    </button>
                </div>
            </div>


            <div class="divOtherProduct">
                <a><i  class="fa-solid fa-bug otherProduct"></i></a>
                <a><i class="fa-solid fa-bug otherProduct"></i></a>
                <a><i class="fa-solid fa-bug otherProduct"></i></a>
                <a><i class="fa-solid fa-bug otherProduct"></i></a>
                <a><i class="fa-solid fa-bug otherProduct"></i></a>
                <a><i class="fa-solid fa-bug otherProduct"></i></a>
            </div>
        </div>
        <div id="txtOfShopSection" class="childShopSection">


            <div class="divBoxContent">
                <p class="boxContent">Contenu de la boite</p>
                <ul class="listOfContentBox">
                    <li>16 pales médium 3mm<br> medusa couleur lavande</li>
                    <li>16 pales médium 3mm<br> corail couleur océan</li>
                    <li>2 disque médium 3mm brut</li>
                    <li>1 douille E27 avec bague dévissable</li>
                    <li>1 câble 1,5m avec interrupteur</li>
                    <li>1 ampoule LED E27</li>
                </ul>
            </div>
        </div>
    </section>



</section>

